@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.head {
    display: flex;
    align-items: center;
    background-color: #005a86;
    color: white;
    justify-content: space-between;
    padding: 15px;
}

.right-head {
    display: flex;
    font-size: 17px;
    margin-right: 10px;
}

.right-head p{
    display: flex;
    margin-left: 5px;
    align-items: center;
}

#menu {
    margin-left: 10px;
    font-size: 28px;
}

.search {
    display: flex;
    background-color: #427b9e;
    padding: 10px;
    width: 350px;
    border-radius: 1rem;
    margin-left: 50px;
}

#searchbar {
    flex: 1;
    margin-right: 10px;
    text-align: center;
    border: none;
    background-color: #427b9e;
    color: white;
}

#searchbar:focus{
    outline: none;
}

#searchbar::placeholder {
    color: #fff;
}

#searchbtn {
    background: none;
    color: white;
    border: none;
}

#searchbtn:hover {
    cursor: pointer;
}

/* .weather-display {
    width: 70vw;
} */

.today-temp {
    background-color: #427B9E;
    padding: 20px;
    height: 20%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.today-temperature {
    font-size: 2rem;
}

.today-weather {
    font-size: 1rem;
}

.today-temp .todayicon {
    font-size: 50px;
}

.today-temp .humid {
    font-size: 15px;
    margin-right: 5px;
}

.today-humid {
    display: flex;
    align-items: center;
    background-color: grey;
    border-radius: 1rem;
    padding: 5px;
}
