@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}


.head {
    background-color: #005a86;
    color: white;
    height: 8vh;
    position: relative;
    z-index: 6;
}

.head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 3vw;
}

.right-head {
    display: flex;
    font-size: 17px;
    margin-right: 10px;
    margin-left: 2vw;
}

.right-head p{
    display: flex;
    margin-left: 5px;
    align-items: center;
}

#menu {
    margin-left: 10px;
    font-size: 28px;
}

.search {
    display: flex;
    background-color: #427b9e;
    padding: 10px;
    width: 350px;
    border-radius: 1rem;
    margin-left: 2vw;
}

#searchbar {
    flex: 1;
    margin-right: 10px;
    text-align: center;
    border: none;
    background-color: #427b9e;
    color: white;
}

#searchbar:focus{
    outline: none;
}

#searchbar::placeholder {
    color: #fff;
}

#searchbtn {
    background: none;
    color: white;
    border: none;
}

#searchbtn:hover {
    cursor: pointer;
}

#city-name {
  font-size: 8vw;
}

.weather-container {
  padding: 0 3vw;
  position: relative;
  top: 50vw;
}

#weather {
  font-size: 7vw;
}

#temperature {
  font-size: 10vw;
}

#divider {
  font-size: 4vw;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

#feels-like, #wind, #humidity {
  font-size: 3vw;
}

.weather-info {
  display: flex;
  align-items: center;
  gap: 2vw;
}

@media screen and (min-width: 640px) {
  .weather-container {
    position: relative;
    top: 40vw;
  }

  #city-name {
    font-size: 6.5vw;
  }

  #feels-like, #wind, #humidity {
    font-size: 3vw;
  }

  #weather {
    font-size: 5vw;
  }
  
  #temperature {
    font-size: 10vw;
  }
  
  #divider {
    font-size: 5vw;
  }
}

@media screen and (min-width: 768px) {
  .weather-container {
    position: relative;
    top: 30vw;
  }

  #city-name {
    font-size: 6vw;
  }

  #feels-like, #wind, #humidity {
    font-size: 2vw;
  }

  #weather {
    font-size: 3vw;
  }
  
  #temperature {
    font-size: 7vw;
  }
  
  #divider {
    font-size: 5vw;
  }
}

@media screen and (min-width: 1024px) {
  .weather-container {
    position: relative;
    top: 25vw;
  }
}

@media screen and (min-width: 1280px) {
  .weather-container {
    position: relative;
    top: 15vw;
  }

  #city-name {
    font-size: 4.5vw;
  }

  #feels-like, #wind, #humidity {
    font-size: 1.5vw;
  }

  #weather {
    font-size: 3vw;
  }
  
  #temperature {
    font-size: 5vw;
  }
  
  #divider {
    font-size: 5vw;
  }
}